<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <h1>Edit Book Page</h1>
    <form action="/wellread/<%=book.id%>?_method=PUT" method="POST">
        <label for="title">title</label><br>
        <input type="text" id="title" name="title" value="<%=book.title%>"/><br>
        <label for="author">author</label><br>
        <input type="text" id="author" name="author" value="<%=book.author%>"/><br>
        <label for="genre">genre</label><br>
        <input type="text" id="genre" name="genre" value="<%=book.genre%>"/><br>
        <label for="pages">pages</label><br>
        <input type="text" id="pages" name="pages" value="<%=book.pages%>"/><br>
        <label for="review">review</label><br>
        <input type="text" id="review" name="review" value="<%=book.review%>"/><br>
        <input type="submit" value="Submit Changes">     
    </form>
</body>
</html>