<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body img src="/public/css/taylor-D9_QOTmbFAg-unsplash.jpg"	>
    <div>
    <h1>Books Index Page</h1>
    <ul>
        <% for (let i =0; i < allBooks.length; i++) { %>
            <li>
                <a href = '/wellread/<%=[i]%>'>
                <%=allBooks[i].title %>
            </a>
            <form action="/wellread/<%=i%>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE"/>
            </form>
            <a href="/wellread/<%=i %>/edit">Edit</a>
            </li>
            <% } %>
    </ul>
    <nav>

        <a href="/wellread/new">Add a New Book</a>
    </nav>
    </div>

</body>
</html>