<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/css/styles.css">   
    <%- include ('./partials/head.ejs') %>
    
</head>
<body style="background-image: url('https://images.unsplash.com/photo-1536965764833-5971e0abed7c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');">
    <h1 class="py-14 text-white text-center text-5xl">Be Inspired Today</h1>
    <br>
    <div class="px-44">
    <div class= "p-8 text-center bg-orange-100/80 rounded-lg">
        <div class="text-xl font-light">
    <ul>
        <% for(let i = 0; i < books.length; i++){ %>
            <li class=" space-x-8">
                <a href="/wellread/<%=books[i].id; %>">
                    <%=books[i].title; %> 
                </a>
                <div class=" space-x-8 inline-flex text-yellow-700 p-2">
                <button><a href="/wellread/<%=books[i].id; %>/edit">EDIT</a></button>
                
                <form action="/wellread/<%=books[i].id %>?_method=DELETE" method="POST" >
                    <input class="cursor-pointer" type="submit" value="DELETE"/>
                </form>
                </div>
            </li>
        <% } %>
    </ul>
    </div>
    <br>
    <div>
        <a href="/wellread/new"  class="cursor-pointer font-semibold uppercase underline underline-offset-4 text-yellow-700 text-xl">New Book Entry</a>
   </div>
</div>
</div>
</body>
</html>