<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>

</head>
<body>
    <h1> Books Show Page</h1>
    
        <h4> <%= book.title%></h4>
        <h5> <%= book.author%>
             <%= book.genre%>
             <%= book.pages%>
             <%= book.rating%>
             <%= book.review%>
       </h5>
    <nav>
    <a href="/wellread"> Back to Book List</a>
    </nav>
</body>
</html>