<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <%- include ('./partials/footer.ejs') %>
</head>
<body>
    <div class="grid grid-cols-2 bg-cover py-20">
    <div class="flex items-center justify-center bg-white " >
        <p class="text-yellow-600 text-5xl"><%=book.title%></p>
    </div>
    <div class="px-24 bg-yellow-600 py-12 font-sans text-lg antialiased">
        <p class="underline text-white text-xl">Author: <%=book.author%></p><br>
        <p class="text-amber-400"> Genre: <%=book.genre%></p><br>
        <p class="">No. of Pages: <%=book.pages%> </p><br>
        <p class="font-medium">Review: <%=book.review%></p><br>
        <p class="font-semibold">Rating: <%=book.rating%></p><br>
        <nav class="flex justify-end hover:text-white">
            <a href="/wellread/index" class="cursor-pointer" >Back to Index</a>
        </nav> 
    </div>
       </div>
       <div class="text-center">
        <a href="/wellread/index"  class="cursor-pointer font-semibold uppercase underline underline-offset-4 text-yellow-700 text-xl">Back to Library</a>
    </div

</body>
</html>